<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		<title>JsDoc Reference - File Index</title>
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" />
		<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.min.js"></script>
		
		<!-- Le html5 shim, for IE6-8 support of html elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		
		<style type="text/css">
			{+include("static/default.css")+}
		</style>
	</head>
	
	<body>
		{! Link.base = ""; /* all generated links will be relative to this */ !}
		
		<h1>File Index</h1>
			
		<for each="item" in="data">
			<h2>{+new Link().toSrc(item.alias).withText(item.name)+}</h2>
			<if test="item.desc">{+resolveLinks(item.desc)+}</if>
			<dl>
				<if test="item.author">
					<dt class="heading">Author:</dt>
					<dd>{+item.author+}</dd>
				</if>
				<if test="item.version">
					<dt class="heading">Version:</dt>
					<dd>{+item.version+}</dd>
				</if>
				{! 
					var locations = item.comment.getTag('location').map(function($) {
						return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');
					}) 
				!}
				<if test="locations.length">
					<dt class="heading">Location:</dt>
					<for each="location" in="locations">
						<dd><a href="{+location+}">{+location+}</a></dd>
					</for>
				</if>
			</dl>
			<hr />
		</for>
		<footer>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</footer>
	</body>
</html>