<if test="data.length">
	<table class="parameterlist zebra-striped">
		<caption class="heading">Parameters:</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<for each="item" in="data">
				<tr>
					<td>{+item.name+} <if test="item.isOptional"><br /><em>Optional<if test="item.defaultValue">, Default: {+item.defaultValue+}</if></em></if></td>
					<td>{+((item.type)?""+("<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type)+"}</span> ")) : "")+}</td>
					<td>{+resolveLinks(item.desc)+}</td>
				</tr>
			</for>
		</tbody>
	</table>
</if>